/* FONTS */

@font-face {
  font-family: "TTlakes", sans-serif;
  src: url(../fonts/TTLakes-Bold.woff2),
  url(../fonts/TTLakes-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TTlakes", sans-serif;
  src: url(../fonts/TTLakes-Regular.woff2),
  url(../fonts/TTLakes-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TTlakes", sans-serif;
  src: url(../fonts/TTLakes-Light.woff2),
  url(../fonts/TTLakes-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

h1 {
  font-family: "TTlakes";
  font-weight: 700;
}

/* GLOBAL */

body {
  font-family: "TTlakes";
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 320px;
  padding: 16 0;
  margin: 0 auto;
}

/* RESET */

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
}

button {
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}